.body title{
    font-family: 'Playfair Display', serif;
}
.body .headings .websites .button .content {
	font-family: "Lato", sans-serif;
}
.body{
	margin: 10px;
}
.buttons{
	display: flex;
}
.button{
	padding-right: 150px;
	padding-bottom: 10px;
}
.history{
	padding: 5px;
}
.headings{
	display: flex;
}
.websites{
	padding-right: 200px;
}
.contents{
	display:flex;
}
.content{
	padding-right:180px;
}