/*body .title{
    font-family: 'Playfair Display', serif;
}*/
/*body .headings .websites .button .content {
	font-family: "Lato", sans-serif;
}*/

body { 
	margin: 10px;
}

.contents {
	display: flex;
}

.heading {
	padding-right: 150px;
}

.buttons {
	display: flex;
}

.left-buttons {
	padding-top: 8px;
	padding-right: 100px;
}

.right-buttons {
	padding-top: 8px;
}

.history {
	padding-top: 8px;
}

/*.button{
	padding-right: 60px;
	padding-bottom: 10px;
	padding-top: 10px;
}*/

/*.see-history{
	padding: 5px;
}*/
